:root {
  --main-white: #f0f0f0;
  --main-red: #9e2a3a;
  --main-blue: #45567d;
  --main-gray: #303841;
  --sec-red: #d41010;
  --font-primary: "Poppins";
}

* {font-family: var(--font-primary); scroll-behavior: smooth;}
.intro {height: 100vh;}
main, footer  {background-color: var(--main-blue);}
h2 {color: var(--main-white); font-size: 2.5rem;}
.divisao {border-color: var(--sec-red);}

/* NAVBAR */
.navbar {background: var(--main-gray) !important;}
.nav-link {color: var(--main-white) !important; transition: .3s ;}
.nav-link:hover {color: var(--main-red) !important;}
/* INTRODUÇÃO */
.intro,.sobre {background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);}
.intro * {color: var(--main-white); }
.intro p {color: var(--main-red); font-size: 2rem;}
.intro .icon-container img{width: 3rem; height: 3rem;}

/* PROJETOS */
.code {color: var(--main-gray);transition: color 0.3s ease-out;}
.projeto img {height: calc(100% - 6.8rem); width: 100%; object-fit: cover;}
.projeto a {color: var(--main-white);}
.projeto a:hover {color: var(--sec-red); text-decoration: none;}
.projeto a p {background-color: var(--main-gray); font-size: 1.2rem;}
.projeto:hover .code {color: var(--sec-red);}

/* SOBRE */
.card-custom {background: transparent !important; color: var(--main-white); border: none !important; border-radius: 20px !important;}
.card-custom img {border-radius: 20px; height: 10rem; width: 10rem; }
.card-custom .card-body {padding: 1rem 0 ;}
.btn-info {background-color: var(--main-blue) !important; border-color: var(--main-blue) !important;}
.btn-info:hover {background-color: var(--main-white) !important; color: var(--main-gray) !important;}
.conteudo span{background-color: var(--main-blue); padding: .5rem; border-radius: 20px;}

/* FOOTER */
.btn-ctt {background-color: var(--main-red) !important; width: 65%; margin: 1rem; font-size: 1.2rem !important;}